@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Note: To see perfect this webpage, watch it 1920x1080 Display panel*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Heading section design */
.heading-section{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100vh;
}
.left-content {
    width: 45%;
    margin: 50px;
    padding: 20px;
}
.left-content h1{
    font-size: 3.8rem;
}
.name-color{
 color: tomato
}
.heading-section p{
    color: gray;
}
/* Global design  */
.btn a{
   text-decoration: none; 
   color: white;
}
.btn{
    margin-top: 5%;
    background-image: linear-gradient(
180deg
,salmon,red,salmon);
    width: 18%;
    text-align: center;
    border-radius: 30px;
    padding: 16px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
/* About Section */
.about-section{
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 80vh;
}
.left-image{
    width: 50%;
    height: 80vh;
    text-align: center;
}
.left-image img{
    margin-top: 5%;
    height: 730px;
    width: 450px;
}
.right-content{
    width: 50%;
    margin-left: 2%;
    margin-top: 5%;
    font-size: 1.3rem;
}
.right-content h2{
    font-size: 3rem;
    font-weight: bold;
    color:gray
}

/* Recipies Section */
.title-recipies{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.title-recipies h1{
    color: gray;
    font-size: 3rem;
    font-weight:bolder;
}
.recipies-section{
    width: 100%;
    height: 100vh;
}
.recipie-items{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
 
}
.recipie-items img{
    border-radius: 20px;
    margin-left: 14px;
    width: 350px;
    height: 250px;
}
.item{
    padding: 20px;
    width:20%;
    height: 550px;
    box-shadow: 0 0 25px 0.1px #cecece;
    border-radius: 30px;
}
.item h3{
    font-size: 1.8rem;
    font-weight: bolder;
}
.item p{
 opacity:0.8;
}
